<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Bienvenido a Flujo de Trabajo
                </h2>
                <h5>
                    Sistema para la gestion automatizada de flujos de trabajo en estudios integrados EIY.
                </h5>
                <br />
                <p>
                    <a class="btn btn-default btn-large" href="#">Leer mas...</a>
                </p>
            </div>
        </div>
    </div>
</div>
